<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice creams list</title>
  </head>
  <body>
    <div>
      {% for iceCream in iceCreams %}
        <h1>{{iceCreams.id}} - {{iceCreams.name}}</h1>
          <a href="{%url 'ice cream details' ice_cream_id=ice_cream.id %}"></a>



      <hr />
      {% endfor %}
    </div>
  </body>
</html>